@import 'tailwindcss';

:root {
	--background: #000000;
	--foreground: #000000;
}
html {
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}
.scroll-section {
  scroll-snap-align: start;
  height: 100vh;
}
.grid-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.grid-item {
	background-color: #000000;
	padding: 1rem;
}

@media (min-width: 768px) {
	.grid-container {
		flex-direction: row;
	}
}
body {
  background-color: #3d03c3;
  color: #e2e8f0; /* slate-200 */
}

